{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PazarBet</title>
</head>

<body>
<div id="box">
    <header>

        <!-- Navigation Bar -->
    </header>

    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post" action="{% url 'login user' %}">
            <div class="container">
                <div class="brand-logo"></div>
                <h1>LogIn</h1>
                {{ form }}
                <input type="hidden" name="next" value="{{ next }}">

                <input class="btn submit" type="submit" value="Login">
                {% csrf_token %}
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;PazarBet Team 2025. All rights reserved.
    </footer>

</div>
</body>
</html>